@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #363636;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #363636;
}

.navbar-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container ul li {
  margin-right: 20px;
}
.navbar-button {
  background-color: #363636;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.navbar-button:hover {
  background-color: #555;
}

.text-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

}

.text-menu-h1 {
  font-size: 3.5rem /* 48px */;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
  padding-right: 10px;
}

.text-menu-p {
  font-size: 1.25rem /* 36px */;
  line-height: 1.5rem /* 40px */;
  font-weight: 700;
  text-align: center;
  --tw-text-opacity: 1;
  color: white;
}





